body{
    margin: 0;
}

a{
    text-decoration: none;
}
.grid{
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr;
    height: 100vh;
}
ul{
    list-style: none;
}

header{
    background: rgb(45,121,164);
}
.container{
    padding: 50px 20%;
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr;
    justify-content: center;
    background: rgb(19,102,150);
}
.content{
    background: white;
    padding: 20px;
}

nav ul{
    padding: 0;
    margin: 0;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 20% 20%;
    grid-column-gap: 10px;
}

nav ul>li>a{
    display: grid;
    align-content: center;
    justify-content: center;
    color:white;
    height: 100%;
}

.activeButton{
    background: rgb(237,138,50);
}

.usualButton{
    background: rgb(14,77,115);
}

.mycontact{
    /*border: 1px solid red;*/
    display: grid;
    /*grid-template-rows:  200px 200px 200px;*/
    grid-template-columns: 1fr 1fr 1fr;
    /*height: 100vh;*/
    grid-gap: 30px;
}

/* .mycontact>div{
    border: 1px solid red;
} */

.userInformDisplayNone{
    display: none;
}

.userInform{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.address, .emails, .phones{
    display: grid;
    grid-template-columns: 1fr;
}

.userInform h5{
    color: rgb(237,138,50);
}

.userFullName{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid grey;

}

.userFullName a{
    display:grid;
    align-content: center;
    justify-content: center;
}

header{
    /*border: 1px solid red;*/
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/*header>*{
    border: 1px solid yellow;
}*/

header h2{
    color: white;
    display:grid;
    align-content: center;
    justify-content: left;
}

header form{
    display:grid;
    align-content: center;
    justify-content: right;
    padding-right: 10px;
}

header form input{
    padding: 0;
    border: none;
    font: inherit;
    color: white;
    background-color: transparent;
}

.loginForm{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.loginForm label{
    color: rgb(237,138,50);
}
.orange{
    color: rgb(237,138,50);
}

.loginForm input[type = "submit"]{
    border: 0;
    background: rgb(237,138,50);
    color: white;
}

.mycontact input[type = "submit"]{
    padding: 2px 10px;
    border: none;
    font: inherit;
    color: white;
    background-color: rgb(237,138,50);
}

.mycontact .mycontactData, .mycontact .myphones, .mycontact .myemails{
    display: grid;
    grid-gap: 5px; 
}
.mycontact .mycontactData>div, .mycontact .myphones>div, .mycontact .myemails>div{
    display: grid;
    grid-template-rows: 1fr 1fr; 
}
