body{
    margin: 0;
}
.grid{
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr;
    height: 100vh;
}
ul{
    list-style: none;
}

header{
    background: lightskyblue;
}
.container{
    padding: 50px 20%;
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr;
    justify-content: center;
    background: steelblue;
}
.content{
    background: white;
}

nav ul{
    padding: 0;
    margin: 0;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 20% 20%;
    grid-column-gap: 10px;
}

nav ul>li>a{
    display: grid;
    align-content: center;
    justify-content: center;
    background: midnightblue;
    color:white;
    height: 100%;
}

.mycontact{
    /*border: 1px solid red;*/
    display: grid;
    /*grid-template-rows:  200px 200px 200px;*/
    grid-template-columns: 1fr 1fr 1fr;
    /*height: 100vh;*/
}

.userInformDisplayNone{
    display: none;
}

.userInform{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.address, .emails, .phones{
    display: grid;
    grid-template-columns: 1fr;
}

.userInform h5{
    color: gold;
}

.userFullName{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.userFullName a{
    border: 1px solid red;
    padding:0;
}



